.footer {
    display: block;
    background-color: #FFFBED;
}

.footer-descr {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item h2 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-item a {
    font-size: 16px;
    color: #363636;
    font-weight: 100;
    line-height: 40px;
    transition: .4s;
}

.footer-item a:hover {
    color:  rgb(254, 113, 103);
}

.footer-item p {
    font-size: 16px;
    color: #363636;
    font-weight: 100;
    line-height: 26px;
    padding-bottom: 12px;
    text-align: right;
}

.footer-item h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: right;
}

.footer-item-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-icons {
    display: flex;
}

.footer-icons img {
    transition: .4s;
}

.footer-icons img:hover {
    background-color: rgb(254, 113, 103);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.footer-item-logo button {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    background-color: #236967;
    border: none;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: .4s;
}

.footer-item-logo button:hover {
    background-color: rgb(254, 113, 103);
}

.footer-dop {
    display: flex;
    justify-content: space-between;
    padding: 0 120px 80px 120px;
}