.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-study {
    display: flex;
    align-items: center;
}

.header-study a {
    color: #000;
    margin-left: 40px;
}

.header-study--stroke {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
}

.header-study a:hover {
    color: #236967;
}

.header-icons {
    display: flex;
}

.header-icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 27px;
    transition: .4s;
}

.header-icons div:hover {
    background-color: rgb(254, 113, 103);
}

.header-icons div img {
    transition: .4s;
}

.header-icons div:hover img {
    filter: invert(1);
}

.burger-menu-adaptive {
    display: none;
}

@media(max-width: 1100px){
    .burger-menu-adaptive {
        display: block;
    }
    .burger-menu-adaptive img {
        width: 40px;
    }
    .header-study, .header-study--stroke, .header-icons {
        display: none;
    }
}

@media(max-width: 500px) {
    .burger-menu-adaptive {
        margin-left: 20px;
    }
}