.history {
    display: block;
    margin: 150px 80px;
}

.history-head h2 {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFECA0;
}

.history-line img {
    width: 80%;
    margin: 60px;
}

.history-item {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}
.history-info {
    display: block;
    margin: 90px;
}

.history-info h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.history-info p {
    font-size: 18px;
    line-height: 30px;
    color: #363636;
}

@media(max-width: 1200px) {
    .history-info {
        margin: 10px;
    }
}

@media(max-width: 750px) {
    .history-line {
        display: none;
    }
    .history-item {
        display: block;
        padding-left: 0;
    }
    .history-item--img {
        width: 10vw;
    }
}
