.main-page {
    display: flex;
    justify-content: space-between;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px 0;
}

.main-text h1 {
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
    color: #000000;
    text-transform: uppercase;
}

.main-text button {
    width: 230px;
    height: 54px;
    border-radius: 30px;
    background-color: #236967;
    border: none;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    margin-bottom: 130px;
    transition: .4s;
}

.main-text button:hover {
    background-color: rgb(254, 113, 103);
}

@media(max-width: 1000px) {
    .main-text h1 {
        font-size: 25px;
        line-height: 2;
        margin-bottom: 50px;
    }
    .main-illustration img {
        width: 100%;
    }
    .main-text button {
        width: 160px;
        height: 44px;
        font-size: 14px;
    }
}

@media(max-width: 840px){
    .main-text h1 {
        font-size: 18px;
        line-height: 2;
        margin-bottom: 50px;
    }
}

@media(max-width: 590px){
    .main-illustration {
        display: none;
    }
    .main-text {
        margin: 0;
    }
    .main-text h1 {
        font-size: 16px;
        text-align: center;
        color:  rgb(222, 97, 88);
    }
    .main-text button {
        align-self: center;
        width: 150px;
        height: 50px;
        font-size: 15px;
        margin-bottom: 60px;
    }
}

@media(max-width: 360px){
    .main-text h1 {
        font-size: 11px;
    }
    .main-text button {
        width: 120px;
        height: 35px;
        font-size: 12px;
    }
}