.study-lessons {
    display: flex;
    justify-content: left;
}

.study-adults {
    position: relative;
    margin-right: 50px;
}

.study-adults a {
    position: absolute;
    bottom: 20px;
    left: 70px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    background-color: #fff;
}

.study-children {
    position: relative;
}

.study-children a {
    position: absolute;
    bottom: 20px;
    left: 70px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    background-color: #fff;
}

.study-language {
    margin: 70px 0;
    height: 274px;
    background-color: #FFFBED;
    border-radius: 60px;
}

.study-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.study-block h2 {
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFECA0;
}

.study-different--lang {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.study-different--lang div {
    display: flex;
    align-items: center;
}

.study-different--lang a {
    padding-left: 30px;
}

@media(max-width: 840px) {
    /* .study-lessons img {
        width: 65%;
    } */
    .study-lessons a {
        font-size: 16px;
    }
    .study-different--lang a {
        display: none;
    }
    .study-block {
        text-transform: uppercase;
        font-weight: 700;
        margin-right: auto;
    }
    .study-language {
        height: 200px;
    }
    .study-block div{
        display: none;
    }
}

@media(max-width: 590px) {
    .study-lessons {
        display: block;
        justify-content: left;
    }
}

@media(max-width: 420px) {
    .study-block h2 {
        font-size: 14px;
        text-align: center;
    }
    .study-language {
        margin: 0;
        height: 0;
    }
    .study-different--lang img{
        justify-content: center;
        padding-left: 10px;
    }
}